[submodule "common/.vim/bundle/vim-sensible"]
	path = common/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "common/.vim/bundle/ack.vim"]
	path = common/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "common/.vim/bundle/fzf.vim"]
	path = common/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "common/.vim/bundle/vim-go"]
	path = common/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "common/.vim/bundle/vim-ruby"]
	path = common/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "common/.vim/bundle/elm-vim"]
	path = common/.vim/bundle/elm-vim
	url = https://github.com/ElmCast/elm-vim
[submodule "common/.vim/bundle/nerdtree"]
	path = common/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "common/.vim/bundle/supertab"]
	path = common/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "common/.vim/bundle/surround"]
	path = common/.vim/bundle/surround
	url = https://tpope.io/vim/surround.git
