[user]
  name = Steffen Uhlig

[credential]
  helper = cache --timeout=86400

[color]
  ui = auto

[alias]
  co = checkout
  ci = duet-commit
  st = status
  br = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  lg = log
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  logtree = log --graph --oneline --all --decorate

[push]
  default = simple

[pull]
  rebase = true

[rebase]
  autoStash = true

[core]
	excludesfile = ~/.gitignore

[rebase]
	autoStash = true

[pull]
  rebase = true

[url "git@github.com:"]
  insteadOf = https://github.com/

[diff]
	noprefix = true
