[user]
  name = Steffen Uhlig
  email = steffen@familie-uhlig.net
	signingkey = ~/.ssh/identities/suhlig/id_rsa.pub
	useConfigOnly = true

[commit]
	gpgsign = true

[gpg]
	format = ssh

[credential]
	helper = osxkeychain

[color]
  ui = auto

[alias]
  co = checkout
  ci = duet-commit
  st = status
  br = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  lg = log
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  logtree = log --graph --oneline --all --decorate

[push]
  default = simple

[pull]
  rebase = true

[rebase]
  autoStash = true

[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes

[diff]
  tool = vimdiff
  noprefix = true

[diff "ansible-vault"]
  textconv = ansible-vault view

[init]
  defaultBranch = main

[url "git@github.com:"]
  insteadOf = https://github.com/

# https://dev-notes.eu/2022/06/Cargo-Add-for-Dependency-Management/
[url "https://github.com/rust-lang/crates.io-index"]
  insteadOf = https://github.com/rust-lang/crates.io-index

# Pairing with nerab
[includeIf "gitdir:~/workspace/nerab/"]
  path = ~/workspace/nerab/.gitconfig

# https://calebhearth.com/sign-git-with-ssh
[gpg "ssh"]
	allowedsignersfile = ~/.ssh/git-signers
